/*section-a styles*/
#section-a h1{
    text-align: center;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif
}
#section-a .row {
    margin-top: 20px;
}
#section-a .card img {
    width: 100%;
    height: 200px;
    padding-bottom: 20px;
}
    .card{
        padding-bottom: 20px;
    }

#section-a .card:hover {
    box-shadow: 3px 3px 3px 3px lightcoral;
 }

#section-a .card img:hover{
    opacity: 0.3;

}
/*section-b styles*/
#section-b{
    background-color: pink;
    text-align: center;
    font-family: monospace;
    color:white;
    background-image: url("../images/pic15.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:80vh;
    padding-top:90px;

}
/*styling the login and sign up forms*/
.auth-signup{
    padding:20px;
    border-radius:10px;
    box-shadow:3px 3px 3px 3px #333333;
}
.auth-signup img{
    width:270px;
    height:300px;
    border-radius:70%;
    margin-right:99%;
    padding:5px;
}
.auth-signup.content-title{
    text-align:center;
    font-family:monospace;

}
.auth-signuphr{
    padding: 2px;
    margin:0;
}